*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4e3e44;
    font-family: 'Roboto Mono', monospace;;
}

.calculator {
    background-color: #080907;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.display{
    display: flex;
    justify-content: end;
    height: 25%;
    border-bottom: solid 1px #4e3e44;
    align-items: center;
}

.display p{
    font-size: 100px;
    color: #558f9e;
    margin-right: 10px;
    letter-spacing: -3px;
}

.numpad{
    height: 80%;
    width: 100%;
}

.row {
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
    justify-content: space-around;
}

._button{
    height: 90%;
    width: 23%;
    background-color: #080907;
    border: solid 1px #4e3e44;
    color: #558f9e;
    font-size: 30px;
    cursor: pointer;
}

#clear{
    width: 56%;
}

#delete{
    width: 40%;
}

